* {
  margin: 0;
  padding: 0;
}

/* Header Start */
.header-nav {
  background-color: #000;
  position: fixed;
  height: 60px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  font-family: serif;
}

.header-nav-title {
  height: 60px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-nav-container {
  height: 60px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav {
  margin-left: 3%;
  margin-right: 5%;
}

/* マウスオーバー: マウスをテキストなど対象物の上に重ねると何らかの処理を行うこと。また、マウスを離すと元の状態に戻ることが一般的です。 */
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #f00;
}
/* Header End */

/*   First block Start   */
#home {
  /* background-image: url("../images/first-back.jpg"); */
  background-size: cover;
  width: 100%;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  text-align: center;
}

/* h1 {
  font-size: 80px;
  font-family: serif;
  color: #444;
} */

h3 {
  font-size: 50px;
  font-family: serif;
  color: #444;
}

.my-name-ja {
  font-size: 50px;
  font-family: serif;
  color: #444;
  padding: 30px;
}

.my-name-en {
  color: orange;
}
/*   First block End   */

/*   Second block Start   */
#about-me {
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.info-title {
  font-size: 60px;
  font-family: serif;
  margin-bottom: 20px;
  color: #444;
  text-align: center;
}

.info-text {
  font-size: 20px;
  margin-bottom: 20px;
  color: #444;

  width: 30%;
}

.font-small {
  font-size: 15px;
}
/*   Second block End   */

/*   Third block Start   */
#activity {
  background-color: #f05f40;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

.events-title {
  font-size: 60px;
  font-family: serif;
  color: #444;
}

.event {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
}

.event-name {
  font-size: 20px;
  padding: 10px;
  width: 40%;
}

.event-name-span {
  font-size: 40px;
  font-family: serif;
}

.event-image {
  width: 40%;
  height: 330px;
}
/*   Third block End   */

#portfolio {
  background-color: #000;
  background-size: cover;
  width: 100%;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#contact {
  background-color: #222222fe;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  background-color: #000;
  font-size: 15px;
  color: #fff;

  font-family: serif;
}
